@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root { height: 100%; }
  body { font-family: Inter, ui-sans-serif, system-ui; background-color: #FAFBFC; color: #0f172a; }
  h1,h2,h3,h4 { color: theme('colors.brand-navy'); }
}

@layer components {
  .card { @apply bg-white shadow-sm border border-gray-100 rounded-lg p-6; }
}

@layer utilities {
  .muted { color: theme('colors.muted-600'); }
}
